<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504999142902-2e0jjbtuufojv8lf40o67akh7f0htgb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504999142902-2e0jjbtuufojv8lf40o67akh7f0htgb3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_dEtITx3T-FkSXfk8HkcQTB2AWYK7vJE</string>
	<key>GCM_SENDER_ID</key>
	<string>504999142902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AmirPahadi.Kurakani</string>
	<key>PROJECT_ID</key>
	<string>kurakani-89655</string>
	<key>STORAGE_BUCKET</key>
	<string>kurakani-89655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504999142902:ios:2638cec8564b69b68293d7</string>
	<key>DATABASE_URL</key>
	<string>https://kurakani-89655.firebaseio.com</string>
</dict>
</plist>